*{
  font-family:Poppins,sans-serif;
} 
html{
  scroll-behavior: smooth;
}
.App {
  position: relative;
  text-align: center;
}
/* styles for topNavbar */

.plug_map{
  color: greenyellow;
  font-weight: bold;
  text-decoration: none;
}

/* map styles */
.map-container{
  position: relative;
  width: 100%;
  height: 90vh;
  z-index: 0;
}
.search-btn{
  position: absolute;
  top: 8%;
  left:25%;
  width: 50%;
  border: none;
  border-radius: 20px;
  box-shadow: -1px 14px 20px -10px rgba(0, 0, 0, 0.565);
  z-index: 1000;
}
.multi-icon{
  transition-duration: 0.5s;
}
.marker-icon{
  display: none;
}
.input{
  border: none;
  font-size: 15px;
  width: 100%;
}
.input:focus{
  outline: none;
}

/*this is what is affecting the length of your routing control*/
.leaflet-control-container { 
  position: absolute; 
  top: 5%;
  right: 13%;
}

/* .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color:transparent!important;
  box-shadow: none!important;
} */

/* .leaflet-popup-content-wrapper{
  background-color: red;
} */
.leaflet-popup-content {
  margin: 20px 10px;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.763);
}
.pop-up{
  display: flex;
  flex-direction: column;
  width: 200px;
}
/* navbar styles */
/* .navbar-container{
  background-color:white;
  box-shadow: -1px 14px 30px -10px rgba(0, 0, 0, 0.565);
  z-index: 1000;
}
.sign-in{
  background-color: rgba(0, 0, 255, 0.565);
  color: white;
  transition-duration: 0.5s;
}
.log-in{
  transition-duration: 0.5s;
}
.log-in:hover{
  background-color: rgba(0, 0, 255, 0.565);
  color: white;
} */
.home-page{
  position: relative;
}

/* side navbar styles */
.navbar-side{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90vh;
  width: 49px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 0px 14px -6px rgba(0,0,0,0.75);
  transition-duration: 0.5s;
  background:linear-gradient(rgb(8, 187, 8),rgba(255, 255, 255, 0.83));
  z-index: 1000;
}
.navbar-side-width{
  width: 250px;
}
.navbar-side-links{
  width:100%;
  padding:0;
}
.home,.search,.contact{
  font-size: 1.8em;
}
.navbar-side-links a{
  padding:0 10px;
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}
.navbar-side-links a:hover{
  background-color: rgba(0, 0, 0, 0.743);
  color: white;
  opacity: 0.5;
}
.navbar-side-links h3{
  transition-duration: 0.7s;
}
.menu-btn,.close-btn{
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.394); */
  border-radius: 5px;
  transition-duration: 0.5s;
}
.menu-btn:hover,.close-btn:hover{
  background-color: rgba(255, 255, 255, 0.362);
}
.live-location{
  position: absolute;
  bottom: 10%;
  right: 2%;
  background-color: rgba(96, 169, 44, 0.672);
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.79);
  cursor: pointer;
  z-index: 1000;
  padding: 3px;
  transition-duration: 0.6s;
}
.live-location:hover{
  transform: scale(1.1);
}
/* to display the links */
.display{
  display: none;
}
/* footer styles */
.footer-container{
  background-color:#7d7f7c;
  color: white;
}
.social-icons a{
  text-decoration: none;
  font-size: larger;
}

/* styles for the icons */

.twitter{
  color: #1D9BF0;
  transition-duration: 0.5s;
  cursor: pointer;
}
.linkedin{
  color: #0A66C2;
  transition-duration: 0.5s;
  cursor: pointer;
}
.instagram{
  color: #a23a28;
  transition-duration: 0.5s;
  cursor: pointer;
}
.twitter:hover,
.instagram:hover,
.linkedin:hover{
  transform: scale(1.5);
}
.e-mail,.telephone{
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
}
.e-mail:hover,
.telephone:hover{
  color: rgb(8, 187, 8);
}
.sieh-sefear{
  cursor: pointer;
}
.sieh-sefear:hover{
  color:greenyellow;
}
 
/* leaflet routing control styling */
 /* .leaflet-control-container{
  width:320px;
}  */
.leaflet-routing-container.leaflet-bar.leaflet-control{
  box-shadow: 8px 8px 30px -5px rgba(0,0,0,0.79);
  padding:0 10px 10px 0;
}
.leaflet-routing-collapse-btn::after{
  color: red;
}
/* styling for search btn */
.leaflet-routing-container-hide .leaflet-routing-collapse-btn{
  background-image:url('../node_modules/leaflet-routing-machine/dist/routing-icon.png')!important;
}
.leaflet-routing-geocoders{
  background-color: whitesmoke;
  border-top-right-radius: 10px;
}
.leaflet-routing-geocoder input{
 padding: 5px;
}
.leaflet-routing-geocoder input:focus{
  outline: none;
}


/* ABOUT STYLE */
.about{
  display: flex;
  align-items: center;
}
.about-svg{
  width: 50%;
}
.about-text{
  width: 50%;
}

/* the to-top */
.opct1{
  opacity: 1;
}
.opct0{
  opacity: 0;
}
.to-top{
  position:fixed;
  bottom: 10%;
  right:3%;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: 0.5s;
  z-index:1000;
}
.to-top:hover{
  background-color: rgba(0, 0, 0, 0.628);
}


/* MEDIA QUERIES */
/* Navbar */
@media (max-width:768px){
  .social-icons{
    flex-direction: column;
  }
  .social-icons>div{
    margin: 15px 0;
  }
  .about-svg{
    display: none;
  }
  .about-text{
    width: 100%;
  }
 .leaflet-routing-geocoder input{
  width: 200px!important;
 }
 
}


/* Footer */